/* cambiar tipo de letra */
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
/* estilonpropio de la barra */
.navbar-default {
  background-color: #f5f5f5;
  border:1.5px solid transparent;
  border-color: #337ab7;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #337ab7;
}
.navbar-default .navbar-nav > li > a:focus{
  color: #337ab7;
  font-weight: bolder;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #337ab7;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-toggle {
  border-color: #337ab7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #337ab7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.etiqueta{
  color: #337ab7;
  font-weight: bolder;
}

.btn-csv{
  background-color: #84C341;
}
.btn-deta{
  background-color: #ED238F;
  border-color: #ED238F;
  color: #ffffff;
}
.btn-edit{
  background-color: #45B4E9;
  border-color: #45B4E9;
  color: #ffffff;
}
.btn-anadir{
  background-color: #FEF00B;
}
.btn-anav{
  background-color: #84C341;
  border-color: #84C341;
  color: #ffffff;
}
.datatitulo{
  color: #337ab7;
  font-weight: bolder;
}
body{
  overflow-x: hidden;
}
#bienvenido{
  padding-left: 40px !important;
  
  /*font-weight: 600 !important;*/
  font-size: 175% !important;
}
#fechahora{
  padding-top: 45px;
}
#pfechahora{
   border: 3px solid transparent;
   border-color: #FEF00B;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #337ab7;
    font-weight: bolder;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
  }
}